body {

}

#banner {
  width: 100%;
  height: 500px;
}

.principal {
  background: #CCCCCC;
  padding: 30px;
}

.titulo-principal {
  padding-left: 20px;
}

.titulo-centralizado {
  text-align: center;
}

p {
  text-align: center;
}

#mission {
  font-size: 20px;
}

em strong {
  color: #FF0000
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.itens {
  font-style: italic;
}

.photobeneficios {
  width: 50%;
}

.beneficios {
  background: #FFFFFF;
  padding: 20px;
}
